<div *ngIf="appState == 'default'">
  <h3>Add Todo List</h3>
  <form (submit)="addTodo()">
    <input type="text" class="form-control" name="text" [(ngModel)]="text">
  </form>
</div>

<div *ngIf="appState == 'edit'">
  <h3>Edit Todo List</h3>
  <form (submit)="updateTodo()">
    <input type="text" class="form-control" name="text" [(ngModel)]="text">
  </form>
</div>
<h3>Todo List</h3>
<ul class="list-group" *ngFor="let todo of todos">
  <li class="list-group-item">
  <span (click)="editTodo(todo)">{{todo.text}}&nbsp;</span><button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.text)">x</button>
  </li>
</ul>
<!--<ul>
        <li *ngFor="let item of array | orderBy: order">
          {{ item.name }}
        </li>
		</ul>-->
